body
{
	margin: 0;
	padding: 1em;
	background: radial-gradient(
		#333, #111);
		font-family: 'Montserrat', sans-serif;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
.card{
	background: url("bgmimap.jpg")no-repeat;
	background-position:  -1em center;
	border-radius: 6px;
	background-size: 110%;
	width: 43em;
	min-height: 23em;
	position: relative;
	box-shadow: rgba(0, 0, 0, 0.5)
	0px 5px 15px;
	color: #fff;
	transition:  0.4s ease-in-out;
	display: flex;
}
.card::before{
	content: "";
	background: radial-gradient(
		rgba(0, 0, 0, 0.45),
		rgba(0, 0, 0, 0.71)
	);
	position: absolute;
	border-radius: 6px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.card .main-image {
	 position: absolute;
	 bottom: -120;
	 right: 0;
     scale: 80%;
	 transform: translateX(30%);
	 width: 30em;
	 filter: drop-shadow(0px 0px 25px #111);
	 transition: 0.3s ease-in-out;
}
.card .details{
	box-sizing: border-box;
	position: relative;
	transform: translateY(-10%);
	width: 50%;
	padding: 7.5em 2em 2em 2em;
	height: 23em;
}
.card .logo{
	width: 16em;
	position: absolute;
	left: -2em;
	top: -1em;
}
.card p {
	font-size: 18px;
	text-align: left;
	margin-right: -80%;
	line-height: 18px;
	color: white;
}
.card:hover{
	background-position: 0 center;
}
.card .image-container{
	position: relative;
	width: 60%;
	height: 23em;
}
.card:hover .main-image {
	width: 31em;
}
.card a {
	display: inline-block;
    padding: 10px 24px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: #444;
    text-decoration: none;
    font-weight: 600;
    transition: .5s;
}
.card a:hover{
	background: transparent;
    color: #fff;
}
.card h1{
	transform: translateY(20%);
	font-size: 40px;
	
}


@media screen and (max-width: 670px) {
	.card {
		flex-direction: column;
		background-size: cover;
		background-position: center;
		width: 20em;
	}
	.card:hover{
		background-position: center;
	}
	.card .main-image{
		width: 15em;
		right: 50%;
		transform: translateX(50%);
	}
	.card .details,
	.card .image-container{
		width: 100%;
	}
	.card .image-container{
		height: 15em;
	}
	.card:hover .main-image{
		width: 15em;
	}
}